#section-2 {
    padding: 30px 180px;
    background-color: #ED80FD2b;
}

.section-2__info {
    display: flex;
   justify-content: center;
    gap: 30px;
    margin: 50px 0px;
}

.tittle__pink {
    color:#ED80FD ;
}