body {
    background-color: gray;
    
}


.inicio {
    display: grid;
    display: flex;
    font-size: 20px;
    gap: 40px;
    margin: 25px 375px;
    text-align: center;
    
}

a {
    color: white;
    text-decoration: none;
}

#in {
    background-color: blue;
}