body {
    justify-content: center;
    text-align: center;
    margin: 0px 100px;
   display: flex;
   flex-wrap: wrap;
}

u {
    color: rgb(36, 184, 30);
}

strong {
    color: red;
}

h1 {
    
  margin: -2% 10px;
}

.grande {

    color: black;
}

.azul {
    color: blue;
}

.rojo {
    color: red;
}

h2 {
    text-align: center;
}
